<%= link_to "Home", root_path %>

<h1><%= @book.title %></h1>

<% if @book.old %>
<p>Old</p>
<% else %>
<p>New!</p>
<% end %>

<p><%= @book.description %></p>

<ul>
    <li><%= link_to "Archive", archive_book_path(@book) %></li>
    <li><%= link_to "Edit", edit_book_path(@book) %></li>
    <li><%= link_to "Destroy", book_path(@book), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %></li>
</ul>